	html body{
	background-image: url(fonde.jpg);
	background-position: all; 
  	background-repeat: no-repeat;
 	background-size: cover;
 	}

img {
  border-radius: 25px;
  
  padding: 20px; 
  width: 200px;
  height: 400px; 
} 

 	